@charset "UTF-8";

@import url(https://fr.allfont.net/allfont.css?fonts=garamond-bold);

@font-face {
  	font-family: myFirstFont;
  	src: url('../font/garamond-bold.ttf');
}

#font {
  	font-family: myFirstFont;
}

.carousel-caption {
	margin-bottom: 20%;
}

body {
	background-image: url('../images/background/fond.jpg');
	background-size: 100%;
}

.navbar {
	border-bottom: solid #DFCB00 5px;

}

.navfont {
	font-size: 2rem;
	margin-right: 3rem;
}

/*.card-img-top {
	max-height: 175px; 
	max-width: 220px;
}*/

/*.gammes {
	display: flex;
	max-height: 350px;
	max-width: 220px;
	min-height: auto;
	min-width: auto;
}*/

/*Boîte grise dans carousel*/

.caroubox {
	height: auto;
	width: auto;
	background-color: #00000070;
	margin-bottom: 10%;
}

/*Flèches du carousel*/

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
	height: 75px;
	width: 75px;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
	height: 75px;
	width: 75px;
}

/*Lignes de séparation*/

hr {
 	margin-top: 1rem;
 	margin-bottom: 1rem;
 	border: 0;
	border-top: 3px solid rgba(223, 203, 0, 1);
}

/*Texte pour titre dans carousel*/

.display1 {
	font-size: 3.5em;
}

/*Texte pour texte dans carousel*/

.display2 {
	font-size: 1.1em;
}

/*Cartes*/

/*Images mafia*/

.mafia {
	background: transparent;
}

.rounded {
	border-radius: auto;
  	background: transparent;
  	padding: auto;
  	width: 200px;
  	height: 150px;
  	clip-path:ellipse(37% 50%);
}

/*Texte Origines & Infrastructure*/

strong {
	font-size: 2em;
	letter-spacing: 0.1em;
	word-spacing: 0.2em;
}

.texteinfrastructure {
	font-size: 1em;
	letter-spacing: 0.1em
	word-spacing: 0.2em;
}

/*Accordéon*/

.panel-title {
	color: black;
}

.categorieaccordeon {
	margin-left: 15%;
	margin-right: 15%;
	padding:10px;
	background-color: #DFCB00;
	border:1px solid black;
	border-radius: 10px;
}

.categorieaccordeon:hover {
	background-color: #CFB800;
}

.texteaccordeon {
  	color: black;
	background-color: white;
	border-radius: 10px;
	letter-spacing: 0.2em;
	word-spacing: 0.1em;
	margin-right:15%;
	margin-left: 15%;
	font-size: 0.9em;
	padding:10px;
}

.accordeon {
	margin-bottom:5%;
	margin-top:5%;
}

/* Footer */
footer
{
	background-color: white;
	margin-top: 12px;
	padding-top: 23px;
}
.sitefooter
{
 	margin-top:10%;
	border:none;
}
.info-footer
{
	width: 25%;
}
.titrefooter{
	font-size:1.8em;
	text-align: center;
}

/*Adresse*/

.card {
   border: none;
}

.picologo {

}

.adresstext {
	font-size: 1.1em;
	word-spacing: 0.1em;
	letter-spacing: 0.2em;
}

/*Réseaux*/

.footer-icons {
	display: inline-flex;
	justify-content: space-around;
}

.iconeRS{
	height:2.7em;
	width: auto;
	margin-left: 5px;
	margin:2%;
}
.iconeRS:hover{
	opacity: 0.8;
	cursor: pointer;
}
/*Formulaire*/
.form-control
{
	border-radius: 10px;
	border: solid black 1px;
	background: #E3E3E3;
	cursor:text;
}
.formulaire
{
	margin:10px auto;
	width: 300px;
	padding: 20px 12px 10px 20px;
	word-spacing: 0.1em;
	letter-spacing: 0.2em;
}

.submitbutton {

	
}

/*Google Map*/
.mapsection {
	align-items: center;
}

.map-responsive {
	overflow: hidden;
	padding-right: auto;
	padding-bottom: 76.25%;
	position: relative;
	height: 0;
}

.map-responsive iframe {
	left:0;
	top:0;
	height:100%;
	width:100%;
	position: absolute;
}

/*.map {
	height:20em;
	width: 20em;
	text-align: center;
	margin-top: 8%;
}*/

/*Mentions légales*/
.legalmentions{
	letter-spacing: 0.2em;
	word-spacing: 0.1em;
	font-size: 0.9em;
	display: flex;
	text-align: center;
}